{
  "$schema": "http://json.schemastore.org/template",
  "author": "Payton Byrd",
  "classifications": [
    "Common",
    "Console",
    "C#9"
  ],
  "identity": "HostedWindowsAppSdk",
  "name": "Hosted Windows App Sdk Application",
  "shortName": "hostedwinappsdk",
  "tags": {
    "language": "C#",
    "type": "project"
  }
}
